apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "mia-app.fullname" . }}
  annotations:
    kubernetes.io/ingress.class: traefik
spec:
  rules:
    - host: {{ .Values.ingress.host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ include "mia-app.fullname" . }}
                port:
                  number: 80
