prometheus:
  enabled: true
  server:
    persistentVolume:
      enabled: true
      storageClass: "longhorn"
      size: 5Gi
    fullnameOverride: "prometheus"

opencost:
  prometheus:
    internal:
      enabled: true
      serviceName: "prometheus-server"
      namespace: "opencost"
      port: 80
