loki:
  deploymentMode: SingleBinary
    
  backend:
    replicas: 0
  read:
    replicas: 0
  write:
    replicas: 0

  loki:
    auth_enabled: false
    commonConfig:
      replication_factor: 1
    storage:
      type: 'filesystem'
  
  singleBinary:
    replicas: 1
    persistence:
      enabled: true
      storageClass: "longhorn"
      size: 10Gi

promtail:
  config:
    clients:
      - url: http://loki:3100/loki/api/v1/push
