loki:
  deploymentMode: SingleBinary # Ideale per VirtualBox
  loki:
    auth_enabled: false
    commonConfig:
      replication_factor: 1
    storage:
      type: 'filesystem'
  
  # Configurazione Storage su Longhorn
  singleBinary:
    replicas: 1
    persistence:
      enabled: true
      storageClass: "longhorn"
      size: 10Gi

promtail:
  config:
    clients:
      - url: http://loki:3100/loki/api/v1/push
