loki:
  deploymentMode: SingleBinary
  
  backend:
    replicas: 0
  read:
    replicas: 0
  write:
    replicas: 0

  loki:
    auth_enabled: false
    commonConfig:
      replication_factor: 1
        
    schemaConfig:
      configs:
        - from: "2024-01-01" # Una data nel passato
          store: tsdb
          object_store: filesystem
          schema: v13
          index:
            prefix: index_
            period: 24h

    storage:
      type: 'filesystem'
      filesystem:
        chunks_directory: /var/loki/chunks
        rules_directory: /var/loki/rules

  singleBinary:
    replicas: 1
    persistence:
      enabled: true
      storageClass: "longhorn"
      size: 10Gi

promtail:
  config:
    clients:
      - url: http://loki:3100/loki/api/v1/push
