velero:
  # Risorse limitate per evitare crash del nodo (importante per il tuo lab!)
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 512Mi

  initContainers:
    - name: velero-plugin-for-aws
      image: velero/velero-plugin-for-aws:v1.9.0
    - name: velero-plugin-for-csi
      image: velero/velero-plugin-for-csi:v0.7.0

  configuration:
    backupStorageLocation:
      - name: default
        provider: aws
        bucket: my-kubernetes-backups
        config:
          region: minio
          s3ForcePathStyle: true
          s3Url: http://ip-del-tuo-nas-o-minio:9000
    volumeSnapshotLocation:
      - name: default
        provider: aws
        config:
          region: minio

  # Credenziali: Qui dovresti usare un Secret (SealedSecrets o simile)
  # Per ora, ecco come definirle nel wrapper
  credentials:
    secretContents:
      cloud: |
        [default]
        aws_access_key_id = IL_TUO_USER
        aws_secret_access_key = LA_TUA_PASSWORD
